
/LiquidTemplateEvaluator/obj
/LiquidTemplateEvaluator/bin
LiquidTemplateEvaluator/.vs/LiquidTemplateEvaluator/v17/.suo
LiquidTemplateEvaluator/.vs/LiquidTemplateEvaluator/DesignTimeBuild/.dtbcache.v2
LiquidTemplateEvaluator/LiquidTemplateEvaluator.csproj.user
